@import url('https://rsms.me/inter/inter.css');
@import '~bootstrap/dist/css/bootstrap-grid.min.css';

html {
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #fff;
  --gray-100: #F6FAFF;
  --gray-200: #EFF2FB;
  --gray-300: #D9E2EC;
  --gray-400: #BCCCDC;
  --gray-500: #9FB3C8;
  --gray-600: #829AB1;
  --gray-700: #486581;
  --gray-800: #334E68;
  --gray-900: #243B53;

  --green-100: #D9FDEB;
  --green-200: #B3FCDF;
  --green-300: #8CF8D6;
  --green-400: #6FF2D5;
  --green-500: #41EAD4;
  --green-600: #2FC9C3;
  --green-700: #20A1A8;
  --green-800: #147687;
  --green-900: #0C5870;
}

body {
  margin: 0;
  padding: 20px 40px;
  font-size: 16px;
  background-color: var(--gray-200);
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

input[type=date] {
  height: 15px;
}

input:focus, button:focus {
  outline: none;
}

button {
  font-family: 'Inter', sans-serif;
  background-color: var(--green-800);
  color: var(--gray-100);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.p-0 {
  padding: 0;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}

/* Statistics */
.statistics-box {
  background-color: #fff;
border-radius: 10px;
padding: 24px;
color: #0c5870;
}

.statistics-title {

}

.statistics-value {
  display: flex;
}

/* Trip list */
.trip-card {
  background-color: white;
  border-radius: 10px;
}

.trip-icon {
  height: 20px;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.autocomplete-dropdown-container {

}

.location-search-input {

}

.autocomplete-item {
  font-size: 20px;
}

.autocomplete-item--active {
  background-color: gray;
}
